.alert{
	width : 40%;
}

th, td {
    padding: 10px;
}

.page-heading {
	margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 4px 5px 2px -3px;
	margin-bottom: 25px;
}

#title{
	text-transform : uppercase;
	font-size : 20px;
	color : blue;
}

body{
	background-color : white;
}
#bootbox{
	font-size : 15px;
}
.panel-default .panel-heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:25px;
	word-break:break-all;	
}
.panel-body {
	text-align : left;
}

.row {
	width:30%;
	margin-top:1%;
	margin-left:5%;
}

#navbar a:hover{
    background-color: #e6e6e6;
}
#table-caption {
	font-size : 30px;
	color : #232B2B;
}

